<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <title>AMP Times - Login</title>
    <%> styles %>
  </head>
  <body>
    <div class="main-body">
      <header>
        <div class="brand-logo">
          ⚡ AMP Times
        </div>
      </header>
      <main>
      <h1> 
        Login
      </h1>
      <form method=post action="submit">
        <div class=form-line>
          <div class=label>Email:</div>
          <input type=email name=email value="subscriber@example.com">
        </div>
        <div class=form-line>
          <div class=label>Password:</div>
          <input type=password name=password value="123456">
        </div>
        <fieldset class=form-line>
          <legend>Redirect type:</legend>
          <label>
            <input type=radio name=type value="server" checked />
            Server
          </label>
          <label>
            <input type=radio name=type value="client" />
            Browser
          </label>          
        </fieldset>
        <input name=returnurl type=hidden value="<% returnUrl %>">
        <input name=rid type=hidden value="<% readerId %>">
        <div class=form-line>
          <input type=submit value=Login>
        </div>        
      </form>
      </main>
    </div>
  </body>
</html>

